{% extends "base_sistema.html" %} {% block subtitulo %} Usuarios {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary" style="background-color: #282119">
        <div class="box-header">
          <h3 class="box-title" style="color: white;">Atualização de usuários</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form
          class="row g-3"
          action="{{url_for('atualiza_usuario', id=_user.id)}}"
          method="POST"
          name="dados_user"
        >
          <div class="box-body" style="color: white;">
            <div class="col-md-4">
              <label class="form-label">Email</label>
              <input
                class="form-control"
                type="text"
                name="email"
                id="nome"
                value="{{_user.email}}"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label">Nome</label>
              <input
                class="form-control"
                type="text"
                name="nome"
                value="{{_user.nome}}"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label">Data</label>
              <input
                class="form-control"
                type="text"
                name="data"
                value="{{_user.data}}"
              />
            </div>
            <div class="col-md-12">
              <br />
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Alterar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}
