{% extends "base_sistema.html" %} {% block subtitulo %} Usuarios {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary" style="background-color: #282119">
        <div class="box-header">
          <h3 class="box-title" style="color: white;">Atualização de hotéis</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form
          class="row g-3"
          action=""
          method="POST"
          name="dados_user"
          onSubmit="return enviardados_user();"
        >
          <div class="box-body" style="color: white;">
            <div class="col-md-4">
              <label class="form-label">Nome</label>
              <input
                class="form-control"
                type="text"
                name="nome"
                id="nome"
                value="Chalé Vista Dourada"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label">Local</label>
              <input
                class="form-control"
                type="text"
                name="local"
                value="R. Aipim Dourado, 300 - Jd.França"
              />
            </div>
            <div class="col-md-4">
              <label class="form-label">Preço</label>
              <input
                class="form-control"
                type="text"
                name="preco"
                value="R$500,00"
              />
            </div>
            <div class="col-md-12">
              <br />
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Alterar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}
