{% extends "base_sistema.html" %} {% block subtitulo %} Usuario {% endblock%} {%
block conteudo %}
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary" style="background-color: #282119">
        <div class="box-header">
          <h3 class="box-title" style="color: white">Excluir usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="row g-3">
          <div class="box-body" style="color: white">
            <div class="col-md-4">
              <label class="form-label">Id</label>
              <input class="form-control" type="text" value="1" disabled />
            </div>
            <div class="col-md-4">
              <label class="form-label">Nome</label>
              <input
                class="form-control"
                type="text"
                name="nome"
                value="Chalé Vista Dourada"
                disabled
              />
            </div>
            <div class="col-md-4">
              <label class="form-label">Local</label>
              <input
                class="form-control"
                type="text"
                name="text"
                value="R. Aipim Dourado, 300 - Jd.França"
                disabled
              />
            </div>
            <div class="col-md-12">
              <label class="form-label">Preço</label>
              <input class="form-control" type="text" value="R$500,00" disabled />
            </div>
            <div class="col-md-12">
              <br />
            </div>
            <div class="col-md-12">
              <a
                href=""
                class="btn btn-primary btn-lg active"
                role="button"
                aria-pressed="true"
                >Excluir</a
              >
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}
