
  
{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
{% block conteudo %}
<section class="content" style="background-color: #E5D8BD;">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header" style="font-size: 20;">
        <h3 class="box-title">Cadastro de imóveis</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body" style="background-color: #282119; color: white;">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Preço compra</th>
                    <th scope="col">Preço aluguel</th>
                    <th scope="col">Dimensões do terreno</th>
                    <th scope="col">Quantidade de cômodos</th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
              {% for domicilio in domicilios %}
                  <tr>
                    <td>{{domicilio.id}}</td>
                    <td>{{domicilio.nome}}</td>
                    <td>{{domicilio.endereco}}</td>
                    <td>{{domicilio.precocom}}</td>
                    <td>{{domicilio.precoalu}}</td>
                    <td>{{domicilio.dimens}}</td>
                    <td>{{domicilio.qtdcomodos}}</td>
                    <td><a href="{{url_for('atualiza_imovel', id=domicilio.id)}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="{{url_for('exclui_imovel', id=domicilio.id)}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
              {% endfor %}
               
                           
              </tbody>
          </table>
          <a href="{{url_for('cad_imovel')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir imóveis</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     